@import 'tailwindcss';

@import './typography/_typography';
@import './wp/_wp';
@import './vendors/_vendors.css';
@import './components/_components';
@import './utilities/_utilities';

@theme {
  /** Colors **/
  --color-white: #ffffff;
  --color-black: #1c1c20;
}

@layer base {
  [x-cloak] {
    display: none;
  }
}
